---
import Layout from '../layouts/Layout.astro';

const posts = await Astro.glob('../posts/*.md');
---

<Layout title="Renewware blog page">
  <section class="page-content">
    <div class="container">
      {posts.map(post => (
        <h3>{post.frontmatter.title}</h3>
        <p>{post.frontmatter.excerpt}</p>
        <a href={`/${post.frontmatter.slug}`}>Lees meer</a>
      ))}
    </div>
  </section>
</Layout>
